*,
*::before,
*::after {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://t3.ftcdn.net/jpg/05/46/46/88/360_F_546468872_b9emNBQeVDLbBqicXaFyoBUwutWcHmbl.jpg');
    position: center;
    background-repeat: repeat;
    background-size: cover;
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.5em;
}

.space-cat {

}