*,
*::before,
*::after {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://t3.ftcdn.net/jpg/05/46/46/88/360_F_546468872_b9emNBQeVDLbBqicXaFyoBUwutWcHmbl.jpg');
    position: center;
    background-repeat: repeat;
    background-size: cover;
    color: white;
    font-family: "Silkscreen", sans-serif;
    font-size: 1.5em;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: 0;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.game-rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.rules {
    text-align: center;
    padding: 0 70px;
    margin: 10px 0;

}

.space-cat {

}

.button-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guess-btn {
    padding: 0.5em;
    border-radius: 50px;
    font-size: 1.5rem;
    font-family: "Silkscreen", sans-serif;
}

.hide {
    display: none;
}